
body {
	background-color: #eee;
	overflow: hidden;
}

#content {
	width: 100%;
	perspective: 1000px;
}

#camera {
	transform-style: preserve-3d;
	transform:
		rotateY(15deg)
		translate3d(-100px, -450px, 720px);
}

.swing {
	position: absolute;
	width: 0;
	left: 50%;
	transform-style: preserve-3d;
	transform-origin: top center;

	animation-name: oscillate;
	animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.tweet {
	position: absolute;
	width: 28em;
	height: 4em;
	left: -14em;
	// margin: 0.2em;
	transform-origin: top center;

	// border: solid 1px gray;
	// background-color: tomato;
	margin: 0 auto;

	&.text {
		white-space: pre-wrap;
	}
}

@keyframes oscillate {
	from {
		transform:
			rotateX(-115deg)
			;
	}
	to {
		transform:
			rotateX(114deg)
			;
	}
}
